section#register {
  background-color: #6b81fe;
  color: #fff;
  height: calc(100vh - 72px);

  div.fields-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {
      font-size: 52px;
      letter-spacing: 1.4px;
      line-height: 60px;
      margin-bottom: 40px;
      font-weight: 500;
    }

    mat-form-field {
      width: 100%;
    }

    .mat-stepper-horizontal {
      background-color: #6b81fe;
      color: #fff;
      box-sizing: border-box;
      border-radius: 10px;
      height: auto;
      padding: 54px 30px 30px 30px;
      width: 700px;
    }

    div.buttons {
      align-items: center;
      display: flex;

      button {
        height: 45px;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 780px) {
  section#register {
    div.fields-container {
      h1 {
        font-size: 42px;
        margin-bottom: 0px;
      }

      mat-form-field {
        width: 100%;
      }

      .mat-stepper-horizontal {
        padding: 54px 0px;
        width: 100%;
      }
    }
  }

  .mat-horizontal-stepper-header-container {
    display: block !important;
  }
}
